* {
	text-decoration: none;
	margin: 0;
	color: #270742;
}
:root {
	--bg-color: #D9D9D9;
	--main-color: #bdaccab0;
}
body {
	background-color: var(--main-color);
	font-family: 'Nunito', sans-serif;
}
.header {
	background-color: #C0A8D3;
	padding: 1.5em;
	/* opacity: 75%; */
	display: flex;
	flex-direction: row;
	gap: 2em;
	font-size: 18px;
	/* width: 99vw; */
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.dropdown {
	position: relative;
}
.hidden-nav {
	display: none;
	position: absolute;
}
.hidden-nav a {
	display: block;
	margin-bottom: 0.5em;
	
}
.dropdown:hover .hidden-nav {
	display: block;
	background-color: #b89dce; 
	padding: 0.5em;
	width: 15em;
	border-radius: 1em;
}
.header a:hover {
	color: #270742;
	font-weight: bolder;
	/* font-size: 18px; */
	font-weight: 700;
}
/* Biljetter börjar */
.boka {
	display: grid;
	grid-template-rows: 1fr;
}
.boka > * {
	margin: 4em;
	/* border: 2px solid #270742; */
	height: 50vh;
	background-color: var(--bg-color);
	padding: 2em;
	border-radius: 10px;
	box-shadow: 2px 3px 10px #270742;
}
.alladagar {
	display: flex;
	/* grid-template-columns: 1fr 1fr; */
	margin-top: 2em;
	background-color: rgb(244, 239, 250);
	padding: 2em;
	border-radius: 10px;
}


@media (max-width: 422px) {
	.header {
		gap: 1em;
	}
}