* {
	text-decoration: none;
	margin: 0;
	color: var(--text-color);
	box-sizing: border-box;
}
:root {
	--bg-color: #D9D9D9;
	--main-color: #bdaccab0;
	--text-color: #270742; 
	--respons-text-size: 20px;
}
body {
	background-color: var(--main-color);
	font-family: 'Nunito', sans-serif;
}

.header {
	background-color: #C0A8D3;
	padding: 1.5em;
	display: flex;
	flex-direction: row;
	gap: 2em;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.header a {
	display: inline-block;
}
.start, .kontakt {
	width: 4em;
}
.boka-h {
	width: 2em;
}
.seminarie {
	width: 4.5em;
}
.logga {
	position: absolute;
	right: 2em;
	top: 0.55em;
	height: 6vh;
}
.dropdown {
	position: relative;
	z-index: 1;
}
.hidden-nav {
	display: none;
	position: absolute;
}
.hidden-nav a {
	display: block;
	margin-bottom: 1em;
	
}
.dropdown:hover .hidden-nav {
	display: block;
	background-color: #b89dce; 
	padding: 0.5em;
	padding-top: 1em;
	padding-right: 1em;
	width: 21em;
	border-radius: 1em;
}
.header a:hover {
	color: #270742;
	font-weight: bolder;
	font-weight: 700;
	text-decoration: underline;
}
/* hamburgemeny */
#hide {
	display: none;
}
#close-icon {
	display: none;
}
.sidebar {
	 position: fixed;
	 z-index: 3;
	 display: none;
	 width: 100vw;
}

.hamburgare {
	margin-left: 10px;
	font-size: 2em;
	position: fixed;


}
.nav-meny {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #b89dce;
	padding: 2em;
	display: none;
}
.nav-meny li {
	list-style-type: none;
	margin: 0.5em;
}
.nav-meny a {
	margin: 0.5em;
}
.nav-meny a:hover {
	color: var(--text-color);
	text-decoration: underline;
}
#hide:checked + label + .nav-meny {
	display: flex;
}
#hide:checked ~ .hamburgare #menu-icon {
	display: none;
}
#hide:checked ~ .hamburgare #close-icon {
	display: flex;
}
/* Biljetter börjar */

.info-biljett h1, .info-biljett h3 {
	text-align: center;
}
.info-biljett p {
	margin: 1em 0;
}
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2em;
	background-color: rgb(244, 239, 250);
	padding: 3em 2em 0.5em 2em;
	border-radius: 10px;
	gap: 2em;
	font-size: 17px;
	margin-bottom: 0;
}
.info-biljett{
	grid-column: span 2;
}
.info-p {
	grid-column: span 2;
}

.info input {
	display: flex;
	width: 40vw;
	height: 2em;
	font-size: 17px;
	border: 1px solid var(--text-color);
}
.mat {
	margin: 1em 0;
	grid-column: span 2;
	font-size: 17px;
}
.mat input {
	margin-top: 0.5em;
	margin-right: 2em;
	font-size: 17px;
}
.knapp {
	grid-area: 9;
	margin-top: 0.5em;
}
.knapp p {
	margin-top: 1.5em;
}
.boka {
	font-size: 20px;
	padding: 0.4em 4em;
	box-shadow: -0.2em 0.2em 0.3em var(--text-color), 0.2em 0.2em 0.3em var(--text-color) ;
	border: 1px solid var(--text-color);
	border-radius: 5px;
}
.obligatorisk {
	grid-column: 2;
	grid-row: 10;
	text-align: end;
	font-family: 'Nunito Sans', sans-serif;
}
.boka:hover {
	box-shadow: inset -0.1em 0.1em 0.2em var(--text-color);
	border-left: 2px solid var(--text-color);
	border-bottom: 2px solid var(--text-color); 
}
.in-valid {
	visibility: hidden;
}

.valid {
	visibility: hidden;
}

input:invalid + .in-valid {
	visibility: visible;
}
input:valid + .in-valid + .valid {
	visibility: visible;
}
input:valid + .in-valid {
	display: none;
}

.in-valid-c {
	visibility: hidden
}
.valid-c {
	visibility: hidden
}

.check:checked ~ .valid-c {
	visibility: visible;
}

.check:not(:checked) ~ .in-valid-c {
	visibility: visible;
}
.check:checked ~ .in-valid-c {
	display: none;
}

/* Footer börjar */
.foot {
	background-color: var(--text-color);
	padding: 1em;
	opacity: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2em;
}
.logga-f {
	height: 4vh;
	margin-top: 0.7em;
}
.foot a, .foot p {
	color: var(--bg-color);
}
.foot-a, .foot-b, .foot-c {
	display: flex;
	flex-direction: column;
}
.foot-a {
	margin-left: 2em;
}
.foot-b {
	text-align: center;
}
.foot-c {
	margin-right: 2em;
	text-align: end;
}
.foot a:hover {
	text-decoration: underline;
}

@media (max-width: 800px) {
	.header {
		display: none;
	}
	.sidebar {
		display: block;
	}

	.ham-adress {
		display: block;
	}
	.form {
		display: flex;
		flex-direction: column;
		margin: 0;
		gap: 1em;
		font-size: var(--respons-text-size);
		align-items: center;	
	}
	.form input {
		font-size: var(--respons-text-size);
	}
	.info input {
		width: 80vw;
	}
	.mat {
		display: grid;
		grid-template-columns: 1fr 1fr ;
		gap: 1em;
	}

	.mat img {
		float: right; 
		grid-column: 2;
		grid-row: 1;
	}
	.mat label {
		font-size: var(--respons-text-size);
		margin: 1.5em 0;
	}
	.mat input {
		width: 20px;
		height: 20px;
		margin-top: 1.59em;
	}
	.boka {
		font-size: var(--font-size);
		margin-top: 1em;
	}
	.foot {
		display: none;
	}
}
