* {
	text-decoration: none;
	margin: 0;
	color: var(--text-color);
	box-sizing: border-box;
}
:root {
	--bg-color: #D9D9D9;
	--main-color: #bdaccab0;
	--text-color: #270742; 
	--respons-text-size: 20px;
}
body {
	background-color: rgb(244, 239, 250);
	font-family: 'Nunito', sans-serif;
}

.header {
	background-color: #C0A8D3;
	padding: 1.5em;
	display: flex;
	flex-direction: row;
	gap: 2em;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.header a {
	display: inline-block;
}
.start, .kontakt {
	width: 4em;
}
.boka {
	width: 2em;
}
.seminarie {
	width: 4.5em;
}


.logga {
	position: absolute;
	right: 2em;
	top: 0.55em;
	height: 6vh;
}

.dropdown {
	position: relative;
	z-index: 1;
}
.hidden-nav {
	display: none;
	position: absolute;
}
.hidden-nav a {
	display: block;
	margin-bottom: 1em;
	
}
.dropdown:hover .hidden-nav {
	display: block;
	background-color: #b89dce; 
	padding-top: 1em;
	padding: 0.5em;
	padding-right: 1em;
	width: 21em;
	border-radius: 1em;
}
.header a:hover {
	color: var(--text-color);
	font-weight: 700;
	text-decoration: underline;
}
/* hamburgemeny */
#hide {
	display: none;
}
#close-icon {
	display: none;
}
.sidebar {
	 position: sticky;
	 top: 0px;
	 display: none;
	 width: 100vw;
}

.hamburgare {
	margin-left: 10px;
	font-size: 2em;
	position: fixed;


}
.nav-meny {
	display: flex;
	flex-direction: column;
	background-color: #b89dce;
	padding: 2em;
	display: none;
}
.nav-meny li {
	list-style-type: none;
	margin: 0.5em;
}
.nav-meny a {
	margin: 0.5em;
}

.nav-meny a:hover {
	color: #270742;
	text-decoration: underline;
	
}
#hide:checked + label + .nav-meny {
	display: flex;
}
#hide:checked ~ .hamburgare #menu-icon {
	display: none;
}
#hide:checked ~ .hamburgare #close-icon {
	display: flex;
}

/* Startsida börjar */
.start-sida {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #b499ca;
	position: relative;
}
.start-sida h1 {
	position: absolute;
	top: 2.1em;
	font-size: 9vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-shadow: inset 4px 4px 10px rgb(224, 182, 241);
}
.start-sida div {
	position: absolute;
	top: 13em;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	text-shadow:  3px 4px 2px rgb(224, 182, 241);
}
.start-sida p {
	margin-bottom: 15px;
}
.background-img {
	width: 90vw;
}

.start-info {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 4em;
	margin-left: 2em;
}

.span-2 {
	text-align: center;
	margin-top: 2em;
	margin-right: 2em;
}
.bild-start {
	width: 30vw;
	float: right;
	margin-left: 2em;
}
.text-start {
	margin-right: 5em;
	margin-top: 2em;
}

.text-start h2, .text-start h4 {
	margin-bottom: 0.1em;
	margin-left: 3em;
}
.praktisk-info {
	margin-top: 1em;
	margin-bottom: 2em;
}
.praktisk-info p {
	margin-top: 0.3em;
}
.praktisk-info span {
	font-weight: bolder;
	text-decoration: underline;
}
.praktisk-info .bold {
	text-decoration: none;
}
.mer-info span {
	font-weight: bolder;
}
.mer-info li {
	margin: 0.4em 0.4em;

}


/* Footer börjar */
.foot {
	background-color: var(--text-color);
	padding: 1em;
	opacity: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.logga-f {
	height: 4vh;
	margin-top: 0.7em;
}
.foot a, .foot p {
	color: var(--bg-color);
}
.foot-a, .foot-b, .foot-c {
	display: flex;
	flex-direction: column;
}
.foot-a {
	margin-left: 2em;
}
.foot-b {
	text-align: center;
}
.foot-c {
	margin-right: 2em;
	text-align: end;
}
.foot a:hover {
	text-decoration: underline;
}


@media screen and (max-width: 800px) {
	.header {
		display: none;
	}
	.sidebar {
		display: block;
	}

	.ham-adress {
		display: block;
	}
	.span-2 {
		grid-column: span 1;
	}

	.text-start {
	
		margin-right: 2em;
	}
	.text-start h2, .text-start h4 {
		margin-left: 0;
	}
	.bild-start {
		display: none;
	}
	.foot {
		display: none;
	}

}
@media screen and (max-width: 500px) {
	.start-sida div {
		top: 11em;
	}
}
